<& header.html, subtitle=>'FAQ'&>

<% gh("Help") %>

<ul>
    <li><a href="#faq">Frequently asked questions</a></li>
    <li><a href="#newpapers">Using the new papers page</a></li>
    <li><a href="#search">Using advanced search filters</a></li>
    <li><a href="#biblios">Using bibliographies</a></li>
    <li><a href="#followx">Using the 'follow authors' feature</a></li>
</ul>


<a name="newpapers">
<% gh("Using the new papers page") %>
</a>
TODO

<a name="search">
<% gh("Using advanced search filters") %>
</a>

TODO
<a name="biblios">
<% gh("Using bibliographies")%>
</a>

TODO

<a name="followx">
    <% gh("Using the 'follow authors feature'") %>
</a>
First time you use the 'follow authors' feature you will be asked if you want to follow anonymously
or publicly.  If you choose to follow publicly other people and the authors themselves would see who do you
follow.  The <a href="/profile/myfollowings.pl">Authors I follow</a> page lets you choose individual aliases an
author could use.

