#my $shutdown = DateTime->new(day=>14,month=>8,year=>2009,hour=>17,minute=>30,time_zone=>$TIMEZONE);
#my $dur = DateTime->now(time_zone=>$TIMEZONE)->subtract_datetime($shutdown);
</%perl>
%#</script>
%#%if (laterThan($shutdown,$TIME)) {
%#    <div style="border:0px red solid; padding:1px; text-align:center;background:#ed9a2e">
%#        <b>Warning: <% $s->{niceName} %> will go offline in <span style="font-size:20px"> <% $dur->minutes %> minutes</span> from now until Sunday 9:00 AM (GMT) due to a scheduled power outage.</b>
%#    </div>
%#%}

