<!--start of footer.html-->
<br />

%if ($SECURE) {
%}
<!-- closes the #content div -->
</div>


<div class="footer centered">

<!-- List of areas -->
<!--
<& bits/areas_footer.html &>
-->
<!-- More links -->
<div class="btnmenu">
    <a rel="subsection" href="<%$s->{server}%>">Home</a> | 
    <a rel="subsection" href="/recent">New books and articles</a> |
    <a rel="subsection" href="/categories.pl">Bibliographies</a> |
    <a rel="subsection" href="/journals"><% $SUBJECT %> journals</a> |
    <a rel="subsection" href="/bbs">Discussions</a> |
    <a rel="subsection" href="/help/categorisation.html">The Categorisation Project</a> |
    <a rel="subsection" href="/help/about.html">About <% $s->{niceName} %></a> | 
    <a rel="subsection" href="/help/api">API</a> |
    <a rel="subsection" href="/help/contact.html">Contact us</a>
</div>

<div style="font-size: 11px;padding: 3px;">
<!--
<a href="http://www.aber.ac.uk""><img src="/assets/raw/aber_uni.gif" style="width: 160px; border-width: 0px;"></a>
-->
FWS-ore is brought to you by <a href="http://www.aber.ac.uk" target="_blank">Aberystwyth University</a>.
<& project_info.html &>
</div>
%#Page generated <% localtime() . " Canberra time" %>
<%perl>
if ($SECURE) {
    print "<hr>Debug information<br>";
    if($user->{id}) {
        print "cached: " . $user->{"__FROM_CACHE__"} . "<br>";
    }
    print "<br>" . xPapers::Utils::Profiler::summarize;
    #print "process cache hit rate: " . ceil(( $Rose::DBx::Object::Cached::CHI::found_in_cache / ($Rose::DBx::Object::Cached::CHI::loads+1) )*1000)/10 . "%<br>";
    print "<br>pid: $$<br>";
}
</%perl>
<!-- footer -->
</div>


<!-- closes #all -->
</div>


<!-- Containers for YUI dialogs, categorizer, 'loading' widget.z-index=999 to put it above all content in #all -->
<div class='yui-skin-sam' style='z-index:3000'>
    <div class="ppskin" id="container"></div>
    <div id='load_c' style='display:none'>
        <div id='load_c2'> 
            <div id='loadmsg'>loading ..</div> 
            <img id='loadimg' width="16" height="16" src='<% $s->rawFile( 'generic-load.gif' ) %>'>
        </div>
    </div>
    <div id='outer-con' class='ppskin' style='z-index:1000'>
        <div id='editor-con' style="display:none"> 
            <div class='hd'></div> 
            <div class='bd' id='editor-bd' style=""></div> 
        </div>
        <div id='categorizer-con' style="display:none">
        </div>
    </div>
</div>


<!-- YUI -->
<script type="text/javascript" src="/dynamic-assets/<% $s->{name} %>/yui.js"></script>


<script type="text/javascript">
var onload_functions = new Array();
onload_functions[0] = function() { basicOnLoad() };
%if ($browser->ie and $browser->major <= 6) {
    onload_functions[1] = function() {
        $$('.dir').each(function(el) { el.removeClassName('dir') });    
    };
%}
</script>

<script type="text/javascript">
window.onload = function() {
    for (x=0;x<onload_functions.length;x++) {
        onload_functions[x]();
    }
}
</script>

%our $MCAT_DONE;
%if ($browser->safari and !$MCAT_DONE) {
    <script type='text/javascript' src='/dynamic-assets/<% $s->{name} %>/mcats.js'></script>
%}


<script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-26470933-1']);
_gaq.push(['_trackPageview']);

(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
                      
</script>


</body>
</html>
<!--end of footer.html-->
