<%perl>
our $HEADER_SENT;
our $READ_ONLY;
return unless $HTML and !$ARGS{noheader} and (!$HEADER_SENT or $ARGS{force});
$HEADER_SENT = 1;
</%perl>
<& head.html,%ARGS &>
<%perl>
my $shutdown = undef; #DateTime->new(year=>2009,month=>9,day=>26,time_zone=>$TIMEZONE,hour=>6,minute=>0);
event('menu','start');
my $menu_content;
if ($user->{id} and !$ARGS{stdmenu}) { 
    if (!$user->cache->{menu}) {
        $user->cache->{menu} = $m->scomp("menu/menu.html");
        $user->save_cache;
    } 
    $menu_content = $user->cache->{menu};
} else {
    $CACHE{menu} = $m->scomp("menu/menu.html") unless $CACHE{menu};
    $menu_content = $CACHE{menu};
}
event('menu','end');
</%perl>
% if (0 and laterThan($shutdown,$TIME)) {
    <div style="background: #ea972c;padding:5px; color: black; font-weight:bold">
        <% $s->{niceName} %> will be shutdown in <% $rend->renderDuration($shutdown->subtract_datetime($TIME),{noseconds=>1}) %> from now for about five hours due to electrical work in the building. We apologize for the inconvenience. 
    </div>
%} elsif ($READ_ONLY) {
     <div style="background: #ea972c;padding:5px; color: black; font-weight:bold">
        <center>
        <%$s->{niceName}%> is currently in read-only mode while we are performing some maintenance. You can use the site normally except that you cannot sign in. This shouldn't last long.
        </center>
    </div>
%}

<div id='all' class='ppskin'>

<div id='head' style="background-color: white; background-image: url('<% $s->rawFile('fws-header.png') %>'); background-repeat:no-repeat; height: 180px; width: 960px;">
	
	<div>
	    <& search/basic_form.html, small=>1, noButton=>1, %ARGS &>
	</div>

        <div style="font-size: 11px; padding-left: 16px; margin-top: 67px;">
% if ($user->{id}) {
	<span>
	Signed in as <a href="/profile/<%$user->id%>"><% $user->fullname %></a> 
     	| <a href="<%$BASE_URL%>?logoff=1">Sign out</a>
	</span>
% if ($q->cookie('fakeId')) {
	<span>
	| <span class='ll' onclick="eraseCookie('fakeId');window.location='/profile'">stop impersonation</span>
	</span>
%}
% if ($SECURE) {
	<span>
        | <a href="/admin.html">Admin menu</a>
	</span>
%}
%} else {
	<span>
        <a href="/inoff.html">Sign in</a> | <a href="/users/new.html">Create an account</a>
	</span>
%}
	</div>

	

	<div id='menu'>
    	    <% $menu_content %> 
	</div>
	
	

</div>
<span style="position: relative; left: 830px; top: 12px; "><& bits/addthis.html &></span>


<div id='content'>
