<!--start of account_form.html-->
<%perl>
my $doNow = $ARGS{doNow};
my $oldDo = $ARGS{oldDo};
my $errors = $ARGS{errors};
my $p = ($user->{id} ? $user : xPapers::User->new); 
#print STDOUT $q->header;
#print Dumper \%ARGS;
#$m->abort;;

# process invitation ticket if any
my $inviteGroup;
if ($ARGS{t}) {
    my ($key,$ticket) = split(/\./,$ARGS{t});
    my $invite = xPapers::Invite->get($ticket);
    $inviteGroup = xPapers::Group->get($invite->gId) if $invite;
}

my ($phd,$affil);

if ($ARGS{do} eq 'Save') {
    
    # check fields
    $errors .= "Password fields don't match.<br>" unless $ARGS{passwd} eq $ARGS{passwd_rep};
    $errors .= "Invalid email address.<br>" unless $ARGS{email} =~ /[\w\._\-]+\@[\-_\w\.]+/;
    # check email
    my $oth = xPapers::UserMng::getByEmail($ARGS{email});
    $oth = xPapers::UserMng::getByEmail("guest:".$ARGS{email}) if !$oth and $ARGS{guest};
    $errors .= "Email address already in use. Do you already have a $s->{niceName} account?<br>" if ($oth and $oth->{id} ne $ARGS{id}); 
    for (qw/firstname lastname email/) {
        next if ( $_ ne 'email' and $ARGS{guest});
        $errors .= "$_ too short.<br>" unless length($ARGS{$_}) > 1;
    }
    $errors .= "Password too short (min 4 char).<br>" if 
        (!$ARGS{id} or ($ARGS{passwd})) and length($ARGS{passwd}) < 4 and !$ARGS{guest};

    # Captcha for new accounts
    if (!$ARGS{id} and $domain !~ /dev/) {
        use Captcha::reCAPTCHA;
        my $cap = Captcha::reCAPTCHA->new;
        my $result = $cap->check_answer(
            $RECAP_KEY, $ENV{'REMOTE_ADDR'},
            $ARGS{recaptcha_challenge_field}, $ARGS{recaptcha_response_field}
        );

        if ( !$result->{is_valid} ) {
            $errors .= "<b>You didn't pass the Turing test!</b> Please try again. You need to copy the two words in the box, with a space separating them. There is a button to change the challenge if you find it too difficult, and one to get an auditory challenge if you are visually impaired.";
        }

    }

    my $newmail = ($p->email eq $ARGS{email}) ? 0 : 1;
    for (qw/firstname lastname/) {
        $ARGS{$_} = lc $ARGS{$_} unless $ARGS{$_} =~ /[a-z]/ or $ARGS{$_} !~ /[A-Z]{2,2}/;
    }
    if ($ARGS{guest}) {
    $p->firstname("Guest");
    } else {
    $p->firstname(!$ARGS{id} ? capitalize($ARGS{firstname},notSentence=>1): $ARGS{firstname});
    $p->lastname(!$ARGS{id} ? capitalize($ARGS{lastname},notSentence=>1) : $ARGS{lastname});
    }
    $p->email(($ARGS{guest} ? "guest:" : "") . $ARGS{email});
    $p->homePage($ARGS{homePage});
    $p->passwd(xPapers::UserMng->crypt($ARGS{passwd})) if $ARGS{passwd};
    $p->alertChecked(DateTime->now);

    if ($ARGS{iId1} or $ARGS{inst_manual1}) {
        $affil = xPapers::Affil->new(
            iId => $ARGS{iId1},
            inst_manual => $ARGS{inst_manual1},
            rank => 1,
            role => $ARGS{role1},
            year => 1,
            discipline => $ARGS{discipline1}
        );
        $affil->load_speculative;
    }

    if (lc $ARGS{addToGroup} eq 'on') {
        $p->addToGroup($ARGS{inviteGroup});
    }

    # fields ok
    if (!$errors) {
        
        if ($affil) {
            $affil->save;
            $p->affils($affil->id);
        }

        $p->save;
        $p->calcPro;
        $p->setQuotas;

        for (@DEFAULT_SUBSCRIPTIONS) {
            next unless $ARGS{"sub$_"};
            my $f = xPapers::Forum->get($_);
            $f->add_subscribers($p->{id});
            $f->save;
        }

        if ($ARGS{guest}) {
            $m->comp('../survey/guestvalidate.html', %ARGS, __user=>$p);
        } elsif ($user and $user->{id} and !$newmail) {
            redirect($s,$q,"/profile/$user->{id}?_lmsg=Profile%20updated");
        } else {
            $m->comp('../header.html') if $newmail;
            $m->comp('../users/validate.html',%ARGS,noheader=>1);
        }

        return;
    }

}

$m->comp("../header.html",subtitle=>'My account');

my $new = !$p->id; 
</%perl>
%unless ($new) {
<p>
<div class="bigBox">
<div class="bigBoxH">My account</div>
<div class="bigBoxC">
<%perl>
} else {

 print $ARGS{__nmsg} if $ARGS{__nmsg};
 if ($user->{id}) {
        print "You are currently logged in as " . $user->fullname . ". <a href='new.html?logoff=1&pt=1'>Log out</a> first if you want to create another account. <p>";
        return;
 }
}
</%perl>

% if ($errors) {
    <div style="font-weight:bold;border:2px solid red;padding:10px">
    Error:<p>
    <% $errors %>
    </div>
%}

    <div class='miniheader'><b>Mandatory information</b><%$ARGS{guest} ? " <span class='ll' style='font-size:smaller' onclick='faq(\"surveyGuest\")'>(why do we ask for this?)</span>":""%></div>
    <form name='myform' method='post' <%(!$p->{id} and !$ARGS{guest})? "action='new2.html'" :""%>>
        <input type="hidden" name="id" value="<%$p->{id}%>">
        <input type="hidden" name="do" value="<%$doNow||'Save'%>">
        <input type="hidden" name="oldDo" value="<%$oldDo%>">
        <input type="hidden" name="guest" value="<%$ARGS{guest}%>">
        <input type="hidden" name="confirmed" value="<%$p->{confirmed}%>">
        <input type="hidden" name="postRegistration" value="<%$ARGS{postRegistration}%>">
        <input type="hidden" name="inviteGroup" value="<%$inviteGroup && $inviteGroup->id%>">
        <input type="hidden" name="noheader" value="1">

        <table width="600" cellspacing=4>
% unless ($ARGS{guest}) {
        <tr>
        <td colspan="2">
                <b style='color:#<%$C2%>'>For best results, use all your given names, or the same form as in print.</b>
        </td>
        </tr>
        <tr>
            <td width="120" align="right" valign="baseline"> Given name(s): </td>
            <td> 
                <input name="firstname" type="text" size="30" maxlength="127" value="<%$p->{firstname}%>">
                <br><span class="hint">e.g. "Jennifer", "John Paul", "Mary J."</span>
            </td>
        </tr>
        <tr>
            <td align="right" valign="baseline">Surname(s):</td>
            <td>
                <input name="lastname" type="text" size="30" maxlength="127" value="<%$p->{lastname}%>">
                <br><span class="hint">e.g. "Smith"</span>
        </td>
        </tr>
%}
%if ($p->id or $ARGS{guest}) {
%my $emailv = $ARGS{guest} ? $ARGS{email} : ($p->{email} || $ARGS{email});
        <tr>
            <td align="right" valign="baseline"> Email:<br></td>
            <td>
                <input name="email" type="text" size="30" maxlength="255" value="<%$emailv%>"><br>
                <span class="hint"><%$ARGS{guest} ? 'Required to take the survey' : 'Required to log in'%>. <u class='hint'>You will have to validate this address</u>.</span>
            </td>
        </tr>
% unless($ARGS{guest}) {
        <tr>
            <td align="right" valign="baseline"> Home page (URL):<br></td>
            <td>
                <input name="homePage" type="text" size="50" maxlength="499" value="<%$p->{homePage}%>"><br>
            </td>
        </tr>
%}
%}
        <tr><td colspan="2">&nbsp;</td></tr>
%if (!$p->id) {
        <tr>
            <td valign="top" align="right">A kind of Turing test:<br>
            <span class='hint'>Type the two words you see, separated by a space.</span> 
            </td>
            <td>
            <script type="text/javascript">
                var RecaptchaOptions = { theme : 'clean' };
            </script>
            <script type="text/javascript"
               src="http://api.recaptcha.net/challenge?k=<%$RECAP_PUBKEY%>">
           </script>

            <noscript>
                <iframe src="http://api.recaptcha.net/noscript?k=<%$RECAP_PUBKEY%>"
                height="300" width="500" frameborder="0"></iframe><br>
                <textarea name="recaptcha_challenge_field" rows="3" cols="40">
                </textarea>
                <input type="hidden" name="recaptcha_response_field" 
                value="manual_challenge">
            </noscript>

            </td>

        </tr>

        <input type="hidden" name="email" value="<%dquote($ARGS{email})%>">
        <input type="hidden" name="passwd" value="<%dquote($ARGS{passwd})%>">
        <input type="hidden" name="passwd_rep" value="<%dquote($ARGS{passwd})%>">

%} else { 
        <script type="text/javascript">
        YAHOO.util.Event.onDOMReady( function() {
            if ($('passwd')) {
                $('passwd').value='';
            }
        });
        </script>

        <tr>
            <td align="right" valign="top">Password:</td>
            <td><input name="passwd" id="passwd" type="password" size="20" value=""><% $p->{id} ? ' (Leave&nbsp;blank&nbsp;to&nbsp;keep&nbsp;old&nbsp;password)' : ""%>
            </td>
        </tr>
        <tr>
            <td align="right" valign="top">Repeat password:</td>
            <td><input id="tp" name="passwd_rep" type="password" size="20" value="">
%if($inviteGroup) {
            <p><input type="checkbox" name="addToGroup" checked> Add me to the group <%$inviteGroup->name%>. 
%}
            
        </td>
        </tr>

%}


        
%unless ($user->{id} or $ARGS{guest}) { 
</table>
<p>
<div class='miniheader'>Primary affiliation</b>
&nbsp;<span class="hint ll" onclick="faq('phd')">(Why do we want to know this?)</span>
</div>
</p>
<table width="100%" class="nospace">
        <tr>
        <td valign="top">
        <& ../profile/affil.html, object=>$affil||xPapers::Affil->new(rank=>1) &>
        </td>  
        </tr>
        <tr>
        <td colspan="2">
%}
%if ($ARGS{guest}) {
    </table>
    <input type="submit" value="Proceed to email verification" style='font-weight:bold;margin-left:20px;margin-top:10px'>
%} elsif ($user->{id}) {
        <tr>
        <td></td>
        <td>
            <input type="submit" name="submit" value="Save">
            <input type="button" value="Cancel" onclick="window.location='profile.pl'">
%} else {
            <p>
            <div class='miniheader'><b>Forum subscriptions</b></div>
            <p>
            <input type='checkbox' name='sub<%$NEWSFORUM%>' checked> Subscribe me to the <% $s->{niceName} %> news forum. You should receive an email only every month or so on average, for important developments only.<br>
%#            <%perl>
%#    print "<input type='checkbox' name='sub$_' checked> " . xPapers::Forum->get($_)->name . "<br>" for @DEFAULT_SUBSCRIPTIONS;
%#            </%perl>
           <p><br>
           <b>By hitting "Register", you agree to our <span class='ll' onclick="terms()">terms of use</a>.</b><p>
         <input type="submit" name="submit" value="Register">
%}
        </td>

        </tr>
        </table>
    </form>
%unless ($new) {
</div>
</div>
%}
<!--end of account_form.html-->
